.nav-menu {
	position: fixed;
	right: 2%;
	z-index: 9999;
	top: 50%;
	margin-top: -30px;
	cursor: pointer;
	height: 60px;
	width: 58px;
	padding: 20px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
	mix-blend-mode: difference
}

@media screen and (max-width: 500px) {
	.nav-menu {
		top: 30px;
		margin-top: 0px;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg)
	}
}

.nav-menu span.text {
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	display: block;
	opacity: 0;
	color: #fff;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-transform: rotate(-90deg) translateX(-40px);
	-moz-transform: rotate(-90deg) translateX(-40px);
	-ms-transform: rotate(-90deg) translateX(-40px);
	-o-transform: rotate(-90deg) translateX(-40px);
	transform: rotate(-90deg) translateX(-40px)
}

.nav-menu span.line {
	width: 1px;
	height: 30px;
	background: #fff;
	display: block;
	position: absolute;
	top: 20px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease
}

.nav-menu span.line:nth-child(1) {
	left: 20px
}

.nav-menu span.line:nth-child(2) {
	left: 28px
}

.nav-menu span.line:nth-child(3) {
	left: 36px
}

.nav-menu:hover span.text {
	-webkit-transform: rotate(-90deg) translateX(-60px);
	-moz-transform: rotate(-90deg) translateX(-60px);
	-ms-transform: rotate(-90deg) translateX(-60px);
	-o-transform: rotate(-90deg) translateX(-60px);
	transform: rotate(-90deg) translateX(-60px);
	opacity: 1
}

.nav-menu:hover span.line {
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%)
}

.nav-menu:hover span.line:nth-child(1) {
	height: 0
}

.nav-menu:hover span.line:nth-child(3) {
	height: 0
}

.nav-menu:hover span.line:nth-child(2) {
	height: 50px
}

.nav-menu.close {
	right: 3%
}

.nav-menu.close span.line:nth-child(1) {
	transition-delay: 0.5s;
	width: 0px;
	height: 1px;
	-webkit-transform: translateX(-20%);
	-moz-transform: translateX(-20%);
	-ms-transform: translateX(-20%);
	-o-transform: translateX(-20%);
	transform: translateX(-20%);
	-webkit-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
	-moz-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
	-o-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
	-ms-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 1s cubic-bezier(0.86, 0, 0.07, 1)
}

.nav-menu.close span.line:nth-child(1):hover {
	height: 1px;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0)
}

@media screen and (max-width: 500px) {
	.nav-menu.close {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		right: 10%
	}
}

.menu.active .nav-menu.close span.line {
	width: 50px;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0)
}

.menu-overlay,
.menu,
.menu-cover {
	position: fixed;
	z-index: 9;
	width: 100%;
	height: 100%;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0
}

.menu-overlay {
	opacity: 0;
	background: #000;
	pointer-events: none;
	mix-blend-mode: hue
}

.menu-cover {
	opacity: 0;
	background: rgba(0, 0, 0, 0.8);
	pointer-events: none;
	background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.5) 0%, #000 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.5) 0%, #000 100%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, #000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=1)
}

.menu {
	pointer-events: none;
	opacity: 1;
	white-space: normal;
	background: #000;
	opacity: 0
}

.menu .menu_content {
	display: flex
}

.menu.active {
	pointer-events: auto
}

.menu .mid_line {
	position: absolute;
	left: 55%;
	top: 0;
	width: 1px;
	height: 0;
	background: rgba(255, 255, 255, 0.3);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	transition-delay: 0.5s
}

@media screen and (max-width: 768px) {
	.menu .mid_line {
		display: none
	}
}

.menu.active .mid_line {
	background: rgba(255, 255, 255, 0.1);
	height: 100%;
	transition-delay: 1s;
	width: 1px
}

.menu ol {
	line-height: 1.2;
	padding: 0 0 0 20%;
	margin-top: 0;
	top: calc(50vh - 10px);
	position: relative;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	list-style-type: none;
	counter-reset: compteListe;
	width: 56%;
	font: 200 normal 52px "Graphik"
}

@media screen and (max-width: 500px) {
	.menu ol {
		padding: 0 0 0 15%;
		font: 200 normal 40px "Graphik";
		width: 80%;
		top: calc(45vh - 10px)
	}
}

.menu ol li {
	position: relative
}

.menu ol li::before {
	display: none;
	counter-increment: compteListe 1;
	color: rgba(255, 255, 255, 0.2);
	content: "0" counter(compteListe);
	position: absolute;
	font: 400 normal 12px/12px "Graphik";
	top: 40%;
	right: calc(100% + 68px);
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: translateY(-50%) rotate(-90deg);
	transform: translateY(-50%) rotate(-90deg)
}

@media screen and (max-width: 500px) {
	.menu ol li::before {
		display: none
	}
}

.menu ol li.mobile_link {
	display: none
}

.menu ol li a {
	color: #fff;
	padding: 3.5% 0;
	display: block;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	opacity: .8
}

.menu ol li sup {
	font-size: 30%;
	font-weight: 400;
	opacity: .5;
	position: relative;
	top: -25px
}

@media screen and (max-width: 500px) {
	.menu ol li.mobile_link {
		display: block;
		font-size: 20px;
		font-weight: 400
	}
	.menu ol li.mobile_link sup {
		opacity: .7;
		font-size: 60%;
		top: -5px;
		position: relative
	}
	.menu ol li.mobile_link.first {
		margin-top: 60px
	}
}

.menu ol:hover li a {
	opacity: .3
}

.menu ol:hover li a:hover {
	opacity: 1
}

.menu .address {
	width: 40%;
	position: absolute;
	right: 0;
	top: calc(50vh + 10px);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%)
}

@media screen and (max-width: 768px) {
	.menu .address {
		display: none
	}
}

.menu .address .text {
	font-size: 12px;
	max-width: 290px;
	line-height: 2;
	padding-left: 70px
}

.menu .address .text .menu-logo {
	margin-left: -12px;
	display: block;
	margin-bottom: 10px
}

.menu .address .text .menu-logo svg {
	fill: rgba(255, 255, 255, 0.5)
}

.menu .address .text p {
	margin: 0px
}

.menu .address .text h5 {
	font-size: 16px;
	font-weight: 400;
	margin: 0
}

.menu .address .text h5 a {
	display: block
}

.menu .address .text h5.twocol {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0
}

.menu .address .text h5.twocol_col {
	width: 50%
}

.menu .address .text a {
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease
}

.menu .address .text a p {
	color: rgba(255, 255, 255, 0.6);
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	transition: color 0.3s ease
}

.menu .address .text a:hover {
	color: #fff
}

.menu .address .text a:hover p {
	color: #fff
}

.menu .address .text:hover a {
	opacity: .6
}

.menu .address .text:hover a:hover {
	opacity: 1
}